* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: bold;
}

html, body {
    height: 100%;
    width: 100%;
    flex-direction: column;
}

header {
    background-color: deepskyblue;
    height: 10%;
    display: flex;
    border-radius: 0.5rem;
}

div {
    display: flex;
}

footer {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

p {
    color: black;
    text-shadow: 1px 1px 5px grey;
}

button {
    cursor: pointer;
}

.headerInfo {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerText {
    font-size: larger;
}

.critical {
    color: crimson;
}

.infoText, .rulesText {
    color: midnightblue;
    font-weight: normal;
    text-align: center;
}

.rulesText {
    width: 90%;
}

.infoTextTitle {
    color: black;
    width: 99%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 1px grey;
    font-weight: bold;
}

#content {
    background-color: aliceblue;
    height: 80%;
    width: 100%;
}

.mainSector {
    width: 100%;
}

#start {
    flex-direction: column;
}

.subFooter {
    justify-content: space-around;
}

.tabFooter {
    background-color: white;
    border: 1px solid lightgrey;
    flex: 1;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 5px lightgrey;
}

.tabFooter:hover {
    background-color: lightgrey;
}

.tabFooter.tabActive {
    background-color: lightsteelblue;
}

.actionButton {
    background-color: white;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    z-index: 1;
    box-shadow: 2px 2px 5px black;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.actionButton:hover {
    background-color: lightgrey;
}

.actionButton.disabledButton {
    background-color: grey;
    opacity: 0.5;
}

.actionButton:active {
    transform: translate(1px, 1px);
    box-shadow: 1px 1px 5px black;
}

#buttonStart, #buttonStop {
    height: 20%;
}

#buttonServe {
    height: 12%;
    margin-bottom: 1vh;
}

.subSector {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.statisticsInfo {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 60% 40%;
    box-shadow: 2px 2px 5px lightgrey;
    border-radius: 0.5rem;
}

.gridTitle {
    margin-left: 1%;
    margin-right: 1%;
    width: auto;
    height: 80%;
    grid-column-start: 1;
    grid-column-end: 3;
}

.gridItemLeft {
    text-align: right;
    padding-right: 5%;
}

.gridItemRight {
    text-align: left;
    padding-left: 5%;
}

.tellerInfo {
    font-size: larger;
}

#menu {
    width: 99%;
    flex-direction: column;
    justify-content: space-between;
}

.menuInfo {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 5px lightgrey;
    border-radius: 0.5rem;
    border: solid thin lightgray;
}

#rulesSector {
    height: 70%;
    width: 100%;
    padding-bottom: 3%;
}

#startSector {
    height: 30%;
    width: 100%;
    justify-content: space-evenly;
}

#tellers {
    align-items: center;
}

#tellerList {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.teller {
    background-color: inherit;
    position: relative;
    width: 30%;
    height: 30%;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px grey;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.teller.tellerEnabled {
    background-color: lightcyan;
}

.tellerFooter {
    width: 90%;
    height: 15%;
    align-items: center;
}

#tellerSelectedContainer {
    width: 100%;
}

#tellerSelected {
    width: 90%;
    height: 90%;
    justify-content: space-between;
}

.progress {
    border-radius: 0.5rem;
    width: 100%;
    height: 25%;
    box-shadow: 1px 1px 5px grey;
    z-index: 1;
}

#progressSelected {
    height: 5%;
    width: 90%;
}

.progressBar {
    border-radius: 0.5rem;
    background-color: limegreen;
    height: 100%;
    width: 0%;
}

.progressBar.alert {
    background-color: khaki;
}

.progressBar.over {
    background-color: orangered;
}

.tellerImage {
    opacity: 0.2;
    width: auto;
    position: absolute;
    bottom: 0;
    z-index: 0;
    filter: none;
}

.tellerImage.pro {
    filter: invert(50%) sepia(50%) saturate(500%) hue-rotate(310deg) brightness(100%) contrast(100%);
}

.tellerHeader {
    width: 80%;
    height: 15%;
    justify-content: space-between;
    align-items: center;
}

#tellerInfoSelected {
    flex-direction: column;
    justify-content: unset;
}

.inputRow {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 20%;
    align-items: center;
    justify-content: space-evenly;
}

.difficultyLabel, .typeLabel {
    display: inline-flex;
    width: 30vh;
    background-color: white;
    opacity: 0.7;
    padding: 0.5rem;
    margin: 1%;
    border-radius: 0.5rem;
    cursor: pointer;
}

.typeLabel {
    width: 90%;
    margin: 0.5%;
    font-size: smaller;
    display: flex;
    justify-content: flex-start;
}

.difficultyLabel:hover, .typeLabel:hover {
    outline: 2px solid lightgrey;
}

input {
    vertical-align: middle;
    height: 100%;
    width: 30%;
}

span {
    font-size: larger;
}

#tellerContentWrapper {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.tellerContent {
    width: 100%;
    height: 50%;
    justify-content: space-around;
    align-items: flex-end;
}

#selectedTellerTypeRadios, #receptionCustomerTypeRadios {
    width: 45%;
    height: 50%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

#selectedTellerProRadio {
    width: 45%;
    height: 90%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.positiveButton {
    background-color: limegreen;
}

.negativeButton {
    background-color: orangered;
}

.lineInfoContainer {
    width: 95%;
    height: 25%;
    border-radius: 0.5rem;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: azure;
    border: 1px solid lightgrey;
}

.progressLine {
    width: 90%;
}

.lineCounters {
    width: 90%;
    justify-content: space-between;
}

#lines {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#waiting, #receptionLine, #receptionCustomer {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    align-items: center;
    box-shadow: 2px 2px 5px lightgrey;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 0.5vh;
    padding-bottom: 3vh;
}

#actionButtonCustomerContainer {
    justify-content: space-between;
    width: 80%;
    height: 10%;
    margin-bottom: 1vh;
}

.modalContainer {
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 100%;
    left: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.modal {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px lightgrey;
}

.modalButtonContainer {
    width: 90%;
    height: 10%;
    align-items: center;
    justify-content: space-evenly;
}

.modalButton {
    height: 100%;
}

#tellerTypeSelected, #tellerNumberSelected {
    font-size: x-large;
}

@media (min-aspect-ratio: 9/10) {
    * {
        font-size: small;
    }
    .headerInfo {
        flex-direction: row;
        justify-content: space-evenly;
        padding-left: 10%;
        padding-right: 10%;
    }
    #lines {
        flex-direction: row;
    }
    #waiting, #receptionLine, #receptionCustomer {
        height: 96%;
        padding-top: 0.5vh;
    }
    .tellerImage {
        height: 80%;
    }
    #statistics {
        flex-direction: row;
        width: 99%;
    }
    .actionButton {
        width: 20%;
        font-size: medium;
    }
    .rulesText, .lineInfo {
        font-size: 2.8vmin;
    }
    .headerText {
        font-size: 3vh;
    }
    .infoText {
        font-size: 3vh;
    }
    .infoTextTitle {
        font-size: 3vh;
    }
    #buttonStart, #buttonStop {
        height: 25%;
        margin-bottom: -1%;
    }
    #buttonCustomerAccept, #buttonCustomerRefuse {
        height: 70%;
        width: 40%;
    }
    #customerType {
        width: 50%;
    }
    #actionButtonCustomerContainer {
        margin-bottom: 6vh;
    }
    #buttonServe {
        width: 30%;
        height: 6%;
        margin-bottom: 10vh;
    }
    #start {
        align-items: center;
    }
    #actionButtonCustomerContainer {
        justify-content: space-evenly;
    }
    #receptionCustomerInfo {
        height: 40%;
    }
    .difficultyLabel, .typeLabel {
        font-size: 2vmin;
    }
    .inputItem {
        width: 50%;
        justify-content: center;
    }
    #servingCustomerTime {
        font-size: 3vmin;
    }
    #receptionCustomerTypeRadios {
        height: 70%;
    }
    .tellerFooter {
        height: 20%;
    }
    .tellerContent {
        height: 50%;
    }
    #tellerBack, #tellerEnable, #tellerDisable {
        height: 80%;
    }
}

@media (max-aspect-ratio: 9/10) {
    .tellerImage {
        height: 50%;
    }
    #statistics {
        flex-direction: column;
    }
    .rulesText {
        font-size: 1.5vh;
    }
    #receptionCustomer {
        padding-bottom: 5%;
    }
    #receptionCustomerInfo {
        height: 55%;
    }
    .inputRow {
        width: 70%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
    .difficultyLabel {
        width: 60%;
        font-size: small;
        padding: 1%;
        margin: 1%;
    }
    .inputItem {
        width: 100%;
        justify-content: space-around;
    }
    #buttonStart, #buttonStop {
        margin-top: 5%;
    }
    .typeLabel {
        font-size: 1.5vh;
        justify-content: flex-start;
    }
    #receptionCustomerTypeRadios {
        height: 90%;
    }
}