*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: bold;
}

html, body{
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-color: black;
}

header{
    background-color: cornflowerblue;

    height: 10%;
    display: flex;
}

div{
    display: flex;
}

footer{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

p{
    color: black;
    text-shadow: 1px 1px 5px grey;
}

button{
    cursor: pointer;
}

.headerInfo{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.headerText{
    font-size: larger;
}

#content{
    background-color: cornsilk;
    height: 80%;
    width: 100%;
}

.mainSector{
    width: 100%;
}

#start{
    flex-direction: column;
}

.subFooter{
    background-color: darkgrey;
    justify-content: space-around;
}

.tabFooter{
    background-color: white;
    border: 1px solid lightgrey;
    flex: 1;
}

.tabFooter:hover{
    background-color: lightgrey;
}

.tabFooter.active{
    background-color: grey;
}

.actionButton{
    background-color: white;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    z-index: 1;
    box-shadow: 2px 2px 5px black;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.actionButton:hover{
    background-color: lightgrey;
}

.actionButton:active{
    transform: translate(1px, 1px);
    box-shadow: 1px 1px 5px black;
}

#buttonNew{
    height: 10%;
}

.subSector{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.statisticsInfo{
    width: 100%;
    height: 50%;
    border: 1px solid lightgrey;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.tellerInfo{
    font-size: larger;
}

#tellers{
    align-items: center;
}

#tellerList{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.teller{
    background-color: antiquewhite;
    position: relative;
    width: 30%;
    height: 30%;
    border-radius: 0.5rem;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tellerFooter{
    width: 90%;
    height: 15%;
    align-items: center;
}

#tellerSelectedContainer{
    width: 100%;
}

#tellerSelected{
    width: 90%;
    height: 90%;
    justify-content: space-between;
}

.progress{
    border-radius: 0.5rem;
    width: 100%;
    height: 25%;
    box-shadow: 1px 1px 5px grey;
    z-index: 1;
}

.progressBar{
    border-radius: 0.5rem;
    background-color: lime;
    height: 100%;
    width: 80%;
}

.tellerImage{
    opacity: 0.2;
    width: auto;
    position: absolute;
    bottom: 0;
    z-index: 0;
}

@media (min-aspect-ratio: 9/10){
    .tellerImage{
        height: 80%;
    }
}

@media (max-aspect-ratio: 9/10){
    .tellerImage{
        height: 50%;
    }
}

.tellerHeader{
    width: 80%;
    height: 20%;
    justify-content: space-between;
    align-items: center;
}

#tellerInfoSelected{
    flex-direction: column;
    justify-content: unset;
}

select{
    z-index: 1;
    width: 40%;
    border-radius: 0.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    opacity: 0.8;
    text-align: center;
}

#tellerContentWrapper{
    width: 100%;
    height: 65%;
    flex-direction: column;
    justify-content: space-between;
}

.tellerContent{
    width: 100%;
    height: 10%;
    justify-content: space-around;
}

.lineInfoContainer{
    width: 95%;
    height: 25%;
    border-radius: 0.5rem;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: blanchedalmond;
}

.progressLine{
    width: 90%;
}

.lineCounters{
    width: 90%;
    justify-content: space-between;
}

#lines{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#waiting, .reception{
    width: 100%;
    height: 49%;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    justify-content: space-around;
    flex-direction: column;
}

#receptionCustomerInfo{
    height: 60%;
}

#actionButtonCustomerContainer{
    justify-content: space-between;
    width: 80%;
    height: 15%;
}