*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: bold;
}

html, body{
    height: 100%;
    width: 100%;
    flex-direction: column;
}

header{
    background-color: deepskyblue;

    height: 10%;
    display: flex;
}

div{
    display: flex;
}

footer{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

p{
    color: black;
    text-shadow: 1px 1px 5px grey;
}

button{
    cursor: pointer;
}

.headerInfo{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerText{
    font-size: larger;
}

.critical{
    color: crimson;
}

.infoText, .rulesText{
    color: midnightblue;
    font-weight: normal;
    text-align: center;
}

.rulesText{
    width: 90%;
}

.infoTextTitle{
    color: black;
    width: 99%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 1px grey;
    font-weight: bold;
}

#content{
    background-color: aliceblue;
    height: 80%;
    width: 100%;
}

.mainSector{
    width: 100%;
}

#start{
    flex-direction: column;

}

.subFooter{
    justify-content: space-around;
}

.tabFooter{
    background-color: white;
    border: 1px solid lightgrey;
    flex: 1;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 5px lightgrey;
}

.tabFooter:hover{
    background-color: lightgrey;
}

.tabFooter.tabActive{
    background-color: lightsteelblue;
}

.actionButton{
    background-color: white;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    z-index: 1;
    box-shadow: 2px 2px 5px black;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.actionButton:hover{
    background-color: lightgrey;
}

.actionButton.disabledButton{
    background-color: grey;
    opacity: 0.5;
}

.actionButton:active{
    transform: translate(1px, 1px);
    box-shadow: 1px 1px 5px black;
}

#buttonStart, #buttonStop{
    height: 20%;
}

#buttonServe{
    height: 12%;
    margin-bottom: 1vh;
}

.subSector{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.statisticsInfo{
    width: 99%;
    height: 49%;
    display: grid;
    align-items: center;
    grid-template-columns: 60% 40%;
    box-shadow: 2px 2px 5px lightgrey;
    border-radius: 0.5rem;
    margin-bottom: 1%;
}

.gridTitle{
    margin-left: 1%;
    margin-right: 1%;
    width: auto;
    height: 80%;
    grid-column-start: 1;
    grid-column-end: 3;
}

.gridItemLeft{
    text-align: right;
    padding-right: 5%;
}

.gridItemRight{
    text-align: left;
    padding-left: 5%;
}


.tellerInfo{
    font-size: larger;
}

#menu{
    width: 99%;
    flex-direction: column;
    justify-content: space-between;
}

.menuInfo{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 5px lightgrey;
    border-radius: 0.5rem;
    border: solid thin lightgray;
}

#rulesSector{
    height: 70%;
    width: 100%;
    padding-bottom: 3%;
}

#startSector{
    height: 30%;
    width: 100%;
    justify-content: space-evenly;
}

#tellers{
    align-items: center;
}

#tellerList{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.teller{
    background-color: inherit;
    position: relative;
    width: 30%;
    height: 30%;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px grey;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.teller.tellerEnabled{
    background-color: lightcyan;
}

.tellerFooter{
    width: 90%;
    height: 15%;
    align-items: center;
}

#tellerSelectedContainer{
    width: 100%;
}

#tellerSelected{
    width: 90%;
    height: 90%;
    justify-content: space-between;
}

.progress{
    border-radius: 0.5rem;
    width: 100%;
    height: 25%;
    box-shadow: 1px 1px 5px grey;
    z-index: 1;
}

.progressBar{
    border-radius: 0.5rem;
    background-color: limegreen;
    height: 100%;
    width: 0%;
}
.progressBar.alert{
    background-color: khaki;
}
.progressBar.over{
    background-color: orangered;
}

.tellerImage{
    opacity: 0.2;
    width: auto;
    position: absolute;
    bottom: 0;
    z-index: 0;
    filter: none;
}

.tellerImage.pro{
    filter: invert(50%) sepia(50%) saturate(500%) hue-rotate(310deg) brightness(100%) contrast(100%);
}

.tellerHeader{
    width: 80%;
    height: 20%;
    justify-content: space-between;
    align-items: center;
}

#tellerInfoSelected{
    flex-direction: column;
    justify-content: unset;
}

select{
    z-index: 1;
    width: 40%;
    border-radius: 0.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    opacity: 0.8;
    text-align: center;
}

#tellerContentWrapper{
    width: 100%;
    height: 65%;
    flex-direction: column;
    justify-content: space-between;
}

.tellerContent{
    width: 100%;
    height: 10%;
    justify-content: space-around;
}

.positiveButton{
    background-color: limegreen;
}

.negativeButton{
    background-color: orangered;
}

.lineInfoContainer{
    width: 95%;
    height: 25%;
    border-radius: 0.5rem;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: azure;
    border: 1px solid lightgrey;
}

.progressLine{
    width: 90%;
}

.lineCounters{
    width: 90%;
    justify-content: space-between;
}

#lines{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#waiting, .reception{
    width: 99%;
    height: 49%;
    border-radius: 0.5rem;
    align-items: center;
    box-shadow: 2px 2px 5px lightgrey;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 1vh;
    padding-bottom: 3vh;
}

#receptionCustomerInfo{
    height: 50%;
}

#actionButtonCustomerContainer{
    justify-content: space-between;
    width: 80%;
    height: 15%;
    margin-bottom: 1vh;
}

.modalContainer{
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 100%;
    left: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.modal{
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px lightgrey;
}

.modalButtonContainer{
    width: 90%;
    height: 10%;
    align-items: center;
    justify-content: space-evenly;
}

.modalButton{
    height: 100%;
}

#tellerTypeSelected, #tellerNumberSelected{
    font-size: x-large;
}

@media (min-aspect-ratio: 9/10){
    .tellerImage{
        height: 80%;
    }

    .statisticsInfo{
        height: 99%;
    }

    #statistics{
        flex-direction: row;
        width: 99%;
    }

    select, .actionButton{
        width: 20%;
    }

    .tellerContent{
        justify-content: space-around;
    }
    #tellerContentWrapper{
        align-items: center;
    }
    #start{
        align-items: center;
    }
    #actionButtonCustomerContainer{
        justify-content: space-evenly;
    }
}

@media (max-aspect-ratio: 9/10){
    .tellerImage{
        height: 50%;
    }

    #statistics{
        flex-direction: column;
    }

    .rulesText{
        font-size: 2vh;
    }
}